<h1> Data Binding [()] </h1>
<h2>NgModel explained</h2>

<p>Nombre {{person.name}} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{ nameInput.valid }} </p>

<p>Edad {{person.age}} </p>
<input type="number" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Valid: {{ ageInput.valid }} </p>




<hr>
<hr>





<h1>Otros eventos que puedes escuchar</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, cupiditate? Distinctio, commodi? Tempore ut quia id amet dolorum expedita aliquid, quasi dicta, maiores magnam unde distinctio recusandae voluptas repellendus blanditiis?</p>
</div>
<input (keyup)="changeName($event)" type="text" [value]="person.name">



<hr>
<hr>




<h1>Event Binding</h1>
<button (click)="toggleButton()">Toggle Button</button>
<button (click)="ageIncrease()"> barrita uwu</button>
<p> Edad {{person.age}} </p>


<hr>
<hr>




<h1>Property Binding</h1>
<button (click)="alertAtSending()" [disabled]="buttonDisable">Enviar</button>

<input type="" [value]="person.name">
<img width="100" [src]="person.avatar">
<progress max="100" [value]="person.age"></progress>



<hr>
<hr>


<h1>String Interpolation</h1>
<h4>{{'hello'.repeat(5)}}</h4>

<p> 3 + 3 is {{3+3}}</p>
<p> hola soy {{name}} y tengo {{age}} </p>

<img [src]="img" alt="random pic">
